* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme1{
  /*Backgrounds*/
  --main-back:hsl(222, 26%, 31%);
  --toggle-backg-keypad-back: hsl(223, 31%, 20%);
  --screen-back:hsl(224, 36%, 15%);

  /*keys*/
  --key-back-alpha:hsl(225, 21%, 49%);
  --key-shadow-alpha:hsl(224, 28%, 35%);
  --key-back-betta:h        <button class="operator" id="%">%</button>
  sl(6, 63%, 50%);
  --key-shadow-betta:hsl(6, 70%, 34%);
  --key-back-gamma:hsl(30, 25%, 89%);
  --key-shadow-gamma:hsl(28, 16%, 65%);

  /*Text*/
  --color-h:white;
  --color-alpha:hsl(221, 14%, 31%);
  --colo-betta:hsl(0, 0, 100%);
  --color-gamma:"";

}
.theme2{
  /*Backgrounds*/
  --main-back:hsl(0, 0%, 90%);
  --toggle-backg-keypad-back: hsl(0, 5%, 81%);
  --screen-back:hsl(0, 0%, 93%);

  /*keys*/
  --key-back-alpha:hsl(185, 42%, 37%);
  --key-shadow-alpha:hsl(185, 58%, 25%);
  --key-back-betta:hsl(25, 98%, 40%);
  --key-shadow-betta:hsl(25, 99%, 27%);
  --key-back-gamma:hsl(45, 7%, 89%);
  --key-shadow-gamma:hsl(35, 11%, 61%);

  /*Text*/
  --color-h:black;

  --color-alpha:hsl(60, 10%, 19%);
  --colo-betta: hsl(0, 0, 100%);
  --color-gamma:"";

}
.theme3{
  /*Backgrounds*/
  --main-back:hsl(268, 75%, 9%);
  --toggle-backg-keypad-back: hsl(268, 71%, 12%);
  --screen-back:hsl(268, 71%, 12%);

  /*keys*/
  --key-back-alpha:hsl(281, 89%, 26%);
  --key-shadow-alpha:hsl(224, 28%, 35%);
  --key-back-betta:hsl(176, 100%, 44%);
  --key-shadow-betta:hsl(177, 92%, 70%);
  --key-back-gamma:hsl(268, 47%, 21%);
  --key-shadow-gamma:hsl(290, 70%, 36%);

  /*Text*/
  --color-h:hsl(52, 100%, 62%);

  --color-alpha:hsl(52, 100%, 62%);
  --colo-betta:hsl(198, 20%, 13%);
  --color-gamma:hsl(0, 0, 100%);

}
body{
  width: 100vw;
  font-size: 32px;
  font-family: 'League Spartan', sans-serif;
  height: 100vh;
  background-color: var(--main-back);
}
.container{
  background-color: var(--main-back);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.calculator{
  height: 75%;
  width: 27%;
  display: flex;
  flex-direction: column;
  
}
.head-themes{
  width: 96%;
  height: 10%;
  margin: 2%;
  border-radius: 5px;
  display: flex;
  color: var(--color-h);
  justify-content: center;
  align-items: center;



}
.display{
  background-color:var(--screen-back);
  width: 96%;
  height: 20%;
  margin: 2%;
  border-radius: 5px;
  color: var(--color-h);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;



}
.keyboard{
  background-color: var(--toggle-backg-keypad-back);

  width: 96%;
  height: 70%;
  margin: 2%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,13%);
  gap: 7%;
  padding: 5%;
  grid-template-areas: 
  "seven eight nine del"
  "four five six plus"
  "one two three minus"
  "point zelo slash timez"
  "reset reset equals equals";

}
.calc{
  font-weight: 700;
  width: 50%;
  text-align: left;
  font-size: 20px;

}
.theme{
  width: 30%;
  text-align: right;
  font-size: 15px;


}
.switch{
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;


}

.switch-number{
  display: flex;
  gap: 2px;
  font-size: 15px;
  column-gap: 5px;




}
.theme-radios{
  display: flex;
  gap: 2px;
  background-color:var(--toggle-backg-keypad-back);
  border-radius: 20px;

}
.theme-radios button{
  background-color: transparent;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 0px;
  
}
.theme-radios button:focus{
  background-color: brown;

}

/*KEYS*/
.seven {
grid-area: seven;
}

.eight {
  grid-area: eight;
  }
.nine {
    grid-area: nine;
    }
.del {
      grid-area: del;
      }
.four {
        grid-area: four;
        }
.five {
     grid-area: five;
          }
.six {
       grid-area: six;
     }
.plus {
  grid-area: plus;
  }
.one{
    grid-area: one;
    }
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}

.minus {
      grid-area: minus;
      }
  .point {
        grid-area: point;
        }
 .zero {
      grid-area: zelo;
      }
  .slash{
    grid-area: slash;
  }
  .times{
    grid-area: timez;
  }
  .reset{
    grid-area: reset;
  }
.equals{
  grid-area: equals;
}
                       